body {
    background: url('../gebetshaus.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat:no-repeat;
}


.class_selected_songs {
	width: 50%;
}

.top-buffer {
	margin-top: 50px;
}

.placeholder_selectgroup {
    margin-bottom: 10px;
}

.select2-container .select2-choice { 
    height: 2px; 
} 