body {
    background: url('../gebetshaus.jpg');
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat:no-repeat;
}


.class_selected_songs {
	width: 50%;
}

.top-buffer {
	margin-top: 35px;
}

.placeholder_selectgroup {
    margin-bottom: 10px;
}

.select2-container .select2-choice { 
    height: 2px; 
} 

.checkbox-jazz {
    width: 25px;
    height: 25px;
}

.nav_link {
	color: #d9534f;
	font-weight: bold;
}

.nav_top {
	background-color: rgba(255,255,255,0.85);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    background-repeat: no-repeat;
    border-bottom: 2px solid #d9534f;
}

.nav-tabs {
	float: right;
}

.btn_mode_suggestion.active {
    background-color: SkyBlue;
}

select.active {
    background: SkyBlue;
}

option:checked {
    background-color: SkyBlue;
}

option:not(:checked) {
    background-color: #fff;
}

.hidden {
    visibility:hidden;
}