<h3> Leerzeilen </h3>

<ul>
<li> 
    Eine Leerzeile erzeugt eine neue Zeile.
</li>
<li>
    Je zwei Leerzeilen erzeugen eine vertikalen Abstand. 
</li>
<li>
    Für Instrumentalteile, wo Akkorde ohne Text stehen sollen, sollte man unter die Akkordzeile eine
    Leerzeile schreiben.

<pre>
<font color="blue">Intro:                      <i>Text</font></i>
<font color="green">C    G    D    e            <i>Akkorde</font></i>
<font color="orange">                            <i>Leerzeile</font></i>
<font color="orange">                            <i>Leerzeile</font></i>
<font color="green">    C         G             <i>Akkorde</font></i>
<font color="blue">Our God is an awesome God,  <i>Text</font></i>
</pre>
</li>
</ul>