<h3> Keywords </h3>

Anhand der Keywords wird erkannt, ob ein neuer Vers, ein Chorus oder eine Bridge beginnt oder endet.
Schreibe in eine Zeile mit Keywords nur das Keyword, alles andere geht verloren.
Chorus und Bridge müssen beendet werden, Verse nicht.
<br>
Folgende Keywords sind zulässig: <br>
<b> Chorus, End Chorus, Bridge, End Bridge, Verse 1, Verse 2, ... </b>

<pre>
<font color="red">Verse 1</font>
<font color="green">C             a7           G             F</font>
<font color="blue">Hungry I come to You for I know You satisfy.</font>

<font color="red">Bridge</font>
<font color="green">         G        F/A       G/H      F</font>
<font color="blue">And so I wait for You, so I wait for You.</font>
<font color="red">End Bridge</font>

<font color="red">Chorus</font>
<font color="green">    C             Fmaj7     G            Fmaj7</font>
<font color="blue">I'm falling on my knees, offering all of me.</font>
<font color="red">End Chorus</font>

<font color="red">Verse 2</font>
<font color="green">C            a7              G             F</font>
<font color="blue">Broken I run to You for Your arms are open wide.</font>
</pre>

