<h3> Anleitung </h3>

Es wird zwischen vier verschiedenen Arten von Zeilen unterschieden: <font color="blue">Textzeilen</font>, <font color="green">Akkordzeilen</font>, <font color="red">Keywords</font> und <font color="orange">Leerzeilen</font>.
Diese Zeilen dürfen nicht gemischt werden.

<br>
<pre>
<font color="red">Verse 1                                   <i> Keywords </font></i>
<font color="green">A                           D/A           <i> Akkorde </font></i>
<font color="blue">Vater des Lichts, Du freust Dich          <i> Text </font></i>
<font color="green">          A         D/A                   <i> Akkorde </font></i>
<font color="blue">an Deine Kindern.                         <i> Text </font></i>
<font color="orange">                                          <i> Leerzeile </font></i>
<font color="orange">                                          <i> Leerzeile </font></i>
<font color="red">Verse 2                                   <i> Keywords </font></i>
<font color="green">A                                 D/A     <i> Akkorde </font></i>
<font color="blue">Vater des Lichts, Du änderst Dich nicht,  <i> Text </font></i>
<font color="green">               A        D/A               <i> Akkorde </font></i>
<font color="blue">bist immer derselbe.                      <i> Text </font></i>
</pre>
