<h3> Akkordzeilen 1</h3>

<ul>
<li>
Eine Akkordzeile wird automatisch daran erkannt, dass viele Leerzeichen darin vorkommen. Wird eine Akkordzeile nicht als solche erkannt, hänge mehrere Leerzeichen an. 

<pre>
<font color="green">E G#m7 A</font> <font color="red"><u>       </u>|</font>        <font color="green">Akkordzeile</font>
<font color="blue">Je – sus</font>                 <font color="blue">Textzeile</font>
</pre>

Der Fehler "Something is wrong with your song content" kann ein Hinweis darauf sein, dass eine Akkordzeile
fälschlicherweise als Textzeile interpretiert wird.
</li>
<li>
Schreibe Akkorde zusammenhängend, ohne Leerzeichen zwischen den Symbolen. 

<pre>
<font color="red">NICHT</font>
<font color="green"><b>C maj 7</b>               <b>D 6</b>             <i> Akkorde </font></i>
<font color="blue">Verzehrendes Feuer, ewige Glut,       <i> Text </font></i>
<font color="green">H 7 / Dis                 e           <i> Akkorde </font></i>
<font color="blue">vollkommen gerecht und vollkommen gut.<i> Text </font></i>

<font color="red">SONDERN</font>
<font color="green"><b>Cmaj7</b>               <b>D6</b>                <i> Akkorde </font></i>
<font color="blue">Verzehrendes Feuer, ewige Glut,       <i> Text </font></i>
<font color="green">H7/Dis                 e              <i> Akkorde </font></i>
<font color="blue">vollkommen gerecht und vollkommen gut.<i> Text </font></i>
</pre>
</li>
</ul>