<h3> Textzeilen </h3>

<ul>
<li>
Um Akkorde über den Silben anzuordnen, plaziere die Akkorde in der Zeile darüber direkt über den Silben. 
</li>
<li>
Schreibe keine Zahlen, die größer sind als 4, oder eckigen oder geschweiften Klammern in Textzeilen.
</li>
<li>
Kommen im Text unbekannte Zeichen vor, erscheint beim Klick von "Lied überprüfen" der Fehler "Something is wrong with your song content."
</li>
</ul>

<pre>
<font color="red">NICHT</font>
<font color="green">A                           D/A          <i> Akkorde </font></i>
<font color="blue">Vater des Lichts, Du freust Dich         <i> Text </font></i>
<font color="green">          A        D/A                   <i> Akkorde </font></i>
<font color="blue">an Deine Kindern.       <b>[2x]</b>             <i> Text </font></i>


<font color="red">SONDERN</font>
<font color="green">A                           D/A          <i> Akkorde </font></i>
<font color="blue">Vater des Lichts, Du freust Dich         <i> Text </font></i>
<font color="green">          A        D/A                   <i> Akkorde </font></i>
<font color="blue">an Deine Kindern.      <b>(2x)</b>             <i> Text </font></i>
</pre>
