<h3> Akkordzeilen 2</h3>

<ul>
<li> 
Schreibe keine runden, eckigen oder geschweiften Klammern in Akkordzeilen.
</li>
<li>
Die Lieder werden hier immer in klassischer Notation, nicht in Jazz-Notation gespeichert. Um die Lieder in Jazz-Notation zu erhalten, aktiviere auf der Seite <font face="arial" color="#d9534f">Songs of God</font> die Jazz-Notation-Checkbox.
</li>
<li>
Schreibe nichts als Akkorde in Akkordzeilen. Der Fehler "Something is wrong with your chords" kann ein Hinweis darauf sein, dass ein "ungültiger" Akkord in einer Akkordzeile steht.

<pre>
<font color="red">NICHT</font>
Intro: Em7    G2sus    H/Dis      

<font color="red">SONDERN</font>
<font color="blue">Intro:                             <i> Text </font></i>
<font color="green">Em7    G2sus    H/Dis              <i> Akkorde </font></i>
</pre>

<br>

<pre>
<font color="red">NICHT</font>
e       Cmaj7   G      a/Fis    H7   (wdh)
<font color="blue">Heilig, heilig, heilig Herr.                <i> Text </font></i>

<font color="red">SONDERN</font>
<font color="green">e       Cmaj7   G      a/Fis    H7          <i> Akkorde </font></i>
<font color="blue">Heilig, heilig, heilig Herr.   (wdh)        <i> Text </font></i>
</pre>

</ul>