{% extends "layout.html" %}

{% block content %}
  <div id="all_selected_songs_placeholder"></div>

  <button onclick="add_song_fct()" id="btn_add_song" class="btn btn-info"> Lied hinzufügen </button>

  <button type="submit" id="btn_get_lyrics" class="btn btn-primary"> PDF erzeugen </button>

  <span style="margin-right: 1%; margin-left: 5%; font-size: 15px;">Akkorde in Jazz Notation</span>
  <input id="checkbox-jazz" class="checkbox-jazz" type="checkbox";>

  <button style="margin-left: 2%" type="submit" id="btn_get_all_songs" class="btn btn-primary"> PDF mit allen Lieder erzeugen</button>
  
  <br>
  <br>

  <div id="show_pdf_placeholder"></div>

  <br>
  <br>
{% endblock %}

{% block script_variables %}
var songlist = {{ songlist|safe }};
{% endblock %}

{% block individual_js %}
<script src="../static/js/SongsOfGod.js"></script>
{% endblock %}
