<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="">
   <meta name="author" content="">
   <link rel="icon" href="../../favicon.ico">
   <title> Songs of God </title>

   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

   <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet" />
   <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>

   <link href="../static/css/bootstrap.min.css" rel="stylesheet">
   <link href="../static/css/SongsOfGod.css" rel="stylesheet" type="text/css">

</head>
<body>
  <div class="container">
    <div class="row top-buffer">
      <div class="col-md-1"></div>
    </div>

    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">

      <div id="all_selected_songs_placeholder"></div>

      <button onclick="add_song_fct()" id="btn_add_song" class="btn btn-info"> Add song! </button>

      <button type="submit" id="btn_get_lyrics" class="btn btn-primary"> Get Lyrics! </button>
      <br>
      <br>
      <div id="show_lyrics" style="background-color: white; white-space: pre; width: 50%"> Hier kommt der Liedtext hin </div>

      <br>
    </div>

    <div id="show_pdf_placeholder"></div>

  </div>
</body>

<script>

    function make_mode_selector(){
        console.log("abc");
        var tonart = $('option:selected', this).attr('tonart');
        console.log(tonart);
        if (tonart == 'Dur') {
            var available_modes = ["As", "Es", "B", "F", "C", "G", "D", "A", "E"];
        } else {
            var available_modes = ["f", "c", "g", "d", "a", "e", "h", "fis", "cis"];
        }
        console.log(this.nextElementSibling)
        var selected_mode = $(this.nextElementSibling);
        selected_mode.empty();
        available_modes.forEach(function(element){
            var option = $('<option />').text(element).val(element);
            selected_mode.append(option);
        });
    };

    function make_song_selector() {
        var select_song = $('<select />').css("width", "35%");
        select_song.addEventListener("change", function () {make_mode_selector()}, false);
        //select_song.onchange=function(){console.log("abc");};
        var songlist = {{ songlist|safe }};
        songlist.forEach(function(element){
            var option = $('<option />').text(element[1]).val(element[0]).attr('tonart', element[2]);
            select_song.append(option);
        });
        var select_mode = $('<select />').css("width", "8%");
        //select_song.onchange=function(){make_mode_selector()};
        //list_mode = ["1","2","3"];
        //list_mode.forEach(function(element){
        //    var option = $('<option />').text(element).val(element);
        //    select_mode.append(option);
        //});
        var div = $('<div />');
        div.append(select_song);
        div.append(select_mode);
        
        $(select_song).select2();
        $(select_mode).select2();
        return div;
    };


    $("#all_selected_songs_placeholder").append(make_song_selector()).append($('<br>'));

    function add_song_fct() {
        $("#all_selected_songs_placeholder").append(make_song_selector()).append($('<br>'));
    }

    $("#btn_get_lyrics").click(function(){
        var selected_song = $("#selected_song").val();
        var selected_mode = $("#selected_mode").val();
        var data = {"song": selected_song, "mode": selected_mode};
        $.ajax({
          contentType: 'application/json',
          type: 'POST',
          url: 'getsong',
          data: JSON.stringify(data),
          success: function(d){
            $("#show_lyrics").html(d.lyrics);
            $("#show_pdf").remove();
            $("#show_pdf_placeholder").append(d.path);
          },
          error: function(obj, st, err){
            alert(err);
          }
        });
    });


</script>
</html>
